
body {
    font-family: 'Poppins', sans-serif;
}

#map {
    border-radius: 0.5rem;
}

.leaflet-popup-content-wrapper {
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.leaflet-popup-content {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
